<nav class="dark:bg-main-light bg-white border-b-[0.1px] z-50 dark:border-gray-600 fixed top-0 end-0 start-0 dark:bg-gray-900">
  <div
    class="zero:flex  items-center zero:justify-between  w-full p-4 mx-auto "
  >
    <a
      href="https://www.linkedin.com/in/mohamed-faragallah-613b32295/"
      class="flex items-center me-4 text-black dark:text-white"
    >
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class=""
        alt="Logo Faragllah store"
      />
      <span class="px-4 text-xl font-semibold">Faragallah</span>
    </a>

    <div class=" ms-auto zero:flex items-center" id="navbar-default">
      <ul
        class="font-medium ms-auto flex    flex-row space-x-5 rtl:space-x-reverse "
      >
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active-link"
            class="block py-1.5 px-3 font-[600] dark:hover:text-white text-black dark:text-[#9ca3af] hover:text-[#1a56db] "
            aria-current="page"
            >Login</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="active-link"
            class="block py-1.5 px-3 font-[600] dark:hover:text-white text-black dark:text-[#9ca3af] hover:text-[#1a56db]"
            aria-current="page"
            >Register</a
          >
        </li>


      </ul>

    </div>
  </div>
</nav>
